body {
    margin-top: 100px;
    text-align: center;
}

label {
    font-size: 30px;
}

.card-logo {
    width: 48px;
    height: 48px;
    padding-right: 5px;
    box-sizing: border-box;
}

#card-number {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
}

button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 40px;
}